*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: slategray;
}

.container
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.padding-box
{
	padding: 50px;
	background: white;
	box-shadow: 2px 2px 9px black;
}

.content
{	
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dot
{
	cursor: pointer;
}

.dot:hover
{
	fill: orange;
}

#title
{
	font-weight: normal;
}

#tooltip
{
	/*width: 220px;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	border: 1px black solid;
	background: white;*/
}

#legend
{

}